{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}
    <title>Canchas Reservadas</title>
{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "informes/style.css" %}">
{% endblock styles %}
{% block content %}
    <div class="container pt-2">
        <h2>Canchas reservadas desde {{ fecha_desde }} hasta {{ fecha_hasta }}</h2>
        <table class="table table-bordered">
            <thead class="table-warning">
                <tr>
                    <th>Cancha</th>
                    <th>Cantidad de veces reservada</th>
                    <th>Precio Actual Por Hora</th>
                    <th>Valoracion</th>
                    <th>Monto Total Histórico</th>
                    <th>MONTO TOTAL GENERAL</th>
                </tr>
            </thead>
            <tbody>
                {% for cancha in canchas_reservadas %}
                    <tr>
                        <td>{{ cancha.numero }}</td>
                        <td>{{ cancha.num_reservas }}</td>
                        <td>{{ cancha.obtener_precio_actual }}</td>
                        <td>
                            {{ cancha.valoracion|default_if_none:"No valorada" }}
                            {% if cancha.valoracion is not None %}<span>&#9733;</span>{% endif %}
                        </td>
                        <td>{{ cancha.monto_total_historico|default:"0" }}</td>
                        <td class="celdas_vacias"></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="celdas_vacias" colspan="5"></td>
                    <td class="celda_total">
                        <strong>{{ monto_total_general }}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="{% url "elegir_fecha_canchas_reservadas" %}"
           class="btn btn-outline-secondary" style="margin-bottom: 30px">Volver</a>
    </div>
{% endblock content %}
