{% extends "base.html" %}
{% block nav_bar %}
    <h3>Elija el tipo de informe que desea generar:</h3>
    <a href="{% url "elegir_fecha_canchas_reservadas" %}"
       class="btn btn-primary">Canchas Reservadas</a>
    <a href="{% url "elegir_fecha_reservas_canceladas" %}"
       class="btn btn-primary">Reservas Canceladas</a>
    <a href="{% url "elegir_fecha_clases_solicitadas" %}"
       class="btn btn-primary">Clases Solicitadas</a>
    {{ block.super }}
{% endblock nav_bar %}
{% block content %}
    <div class="container pt-2">
        <a href="{% url "menu_principal" %}" class="btn btn-outline-secondary">Volver</a>
    </div>
{% endblock content %}
