{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>ABM Profesores</title>
{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "profesores/style.css" %}">
{% endblock styles %}
{% block content %}
    <div class="container pt-2">
        <h2>Profesores</h2>
        <div class="container p-2 posicionar">
            <a href="{% url "NuevoProfesor" %}" class="btn btn-primary">Nuevo Profesor</a>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-bordered">
                <thead class="table-warning">
                    <tr>
                        <th>DNI</th>
                        <th>Nombre y Apellido</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Domicilio</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                {% for p in profesores %}
                    <tr>
                        <td>{{ p.dni }}</td>
                        <td>{{ p.nombre_apellido }}</td>
                        <td>{{ p.telefono }}</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.domicilio }}</td>
                        <td>{{ p.mostrar_activo }}</td>
                        <td>
                            <a href="{% url "EditarProfesor" profesor_id=p.pk %}"
                               class="btn btn-primary">Editar</a>
                        </td>
                        {% if p.activo %}
                            <td>
                                <button type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ModalEstadoProfesor"
                                        clubpad-profe-id="{{ p.pk }}"
                                        clubpad-profe-nombre="{{ p.nombre_apellido }}"
                                        clubpad-boton-estado-profe="desactivar"
                                        class="btn btn-danger">Desactivar</button>
                            </td>
                        {% else %}
                            <td>
                                <button type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ModalEstadoProfesor"
                                        clubpad-profe-id="{{ p.pk }}"
                                        clubpad-profe-nombre="{{ p.nombre_apellido }}"
                                        clubpad-boton-estado-profe="activar"
                                        class="btn btn-success">Activar</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url "menu_principal" %}" class="btn btn-outline-secondary">Volver</a>
            <!-- Modal -->
            <div class="modal fade" id="ModalEstadoProfesor">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button name="confirmar"
                                    id="boton_confirmar"
                                    type="submit"
                                    value="profesor_id"
                                    class=""
                                    data-bs-dismiss="modal"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'profesores/abm.js' %}"></script>
{% endblock scripts %}
