{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ abm }}</title>
{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "profesores/style.css" %}">
{% endblock styles %}
{% block content %}
    <h2 class="container pt-2">{{ abm }}</h2>
    {% if messages %}
        <ul class="container mb-3 mt-3 alert alert-success">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="container mb-3 mt-3">
            {% for field in form %}
                <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                <br>
            {% endfor %}
            <a href="{% url "Profesores" %}" class="btn btn-outline-secondary">Volver</a>
            <input type="submit" value="{{ boton_submit }}" class="btn btn-primary">
        </div>
    </form>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'profesores/abm.js' %}"></script>
{% endblock scripts %}
