td, thead{
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.posicionar{
    text-align: right;
}

.centrar{
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.table .celdas_vacias{
    background-color: lightgray;
}

.table .celda_total{
    background-color: greenyellow;
}
