{% extends "base.html" %}
{% block title %}
    <title>Cambio de Contraseña</title>
{% endblock title %}
{% block content %}
    <div class="container pt-2">
        <h2>Cambie su contraseña:</h2>
        {% include "mensajes.html" %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url "modificar_cuenta" %}" class="btn btn-outline-secondary">Volver</a>
            <button type="submit" class="btn btn-danger">Cambiar Contraseña</button>
        </form>
    </div>
{% endblock content %}
