{% extends "base.html" %}
{% block content %}
    <div class="container pt-2">
        <h2 class="container pt-2">Ingrese sus datos:</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="container mb-3 mt-3">
                {{ form.as_p }}
                <br>
                <input type="submit" value="Ingresar" class="btn btn-primary">
                <a href="{% url "registrarse" %}" class="btn btn-primary">Registrarse</a>
            </div>
        </form>
    </div>
{% endblock content %}
