{% extends "base.html" %}
{% load static %}
<div class="container pt-2">
    {% block nav_bar %}
        <a href="{% url "mis_reservas" %}" class="btn btn-primary">Mis Reservas</a>
        <button type="button"
                data-bs-toggle="modal"
                data-bs-target="#ModalDesactivarCuenta"
                clubpad-user-id="{{ request.user.id }}"
                class="btn btn-danger">Desactivar Cuenta</button>
        <a href="{% url "modificar_cuenta" %}" class="btn btn-primary">Modificar Cuenta</a>
        {{ block.super }}
    {% endblock nav_bar %}
</div>
{% block content %}
    <div class="container pt-2">
        <a href="{% url "menu_principal" %}" class="btn btn-outline-secondary">Volver</a>
    </div>
    <div class="container pt-2">{% include "mensajes.html" %}</div>
    <form action="" method="post">
        {% csrf_token %}
        <!-- Modal -->
        <div class="modal fade" id="ModalDesactivarCuenta">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="password" name="password">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button name="confirmar"
                                id="boton_confirmar"
                                type="submit"
                                value="user_id"
                                class=""
                                data-bs-dismiss="modal"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'usuarios/abm.js' %}"></script>
{% endblock scripts %}
