{% extends "base.html" %}
{% block title %}
    <title>{{ titulo }}</title>
{% endblock title %}
{% block content %}
    <h2 class="container pt-2">{{ descripcion }}</h2>
    <div class="container pt-2" style="margin-bottom: 30px">
        {% if modificar %}
            <span class="alert alert-info">Para cambiar su contraseña haga
                <a href="{% url "modificar_password" %}">click aqui</a></span>
        {% endif %}
    </div>
    <div class="container pt-2" style="margin-top: 30px">
    {% if errorDNI %}
        {% include "mensajes.html" %}
    {% endif %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container mb-3 mt-3">
            {{ form.as_p }}
            <br>
            <a href="{% url "iniciar_sesion" %}" class="btn btn-outline-secondary" style="margin-bottom: 30px">Volver</a>
            <input type="submit" value="{{ boton_submit }}" class="btn btn-primary" style="margin-bottom: 30px">
        </div>
    </form>
{% endblock content %}
