{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% block title %}
            <title>Club Paddle</title>
        {% endblock title %}
        {% block styles %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                  crossorigin="anonymous">
            <link href="{% static 'style.css' %}" rel="stylesheet">
        {% endblock styles %}
    </head>
    <body class="bg-custom">
        <div class="container pt-2">
            {% if request.user.is_authenticated %}
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">¡Bienvenido, {{ request.user.first_name }} {{ request.user.last_name }}!</h4>
                    <hr>
                    <p class="mb-0">
                        <a href="{% url 'cerrar_sesion' %}" class="alert-link">Cerrar Sesion</a>
                    </p>
                </div>
            {% endif %}
            {% block nav_bar %}
            {% endblock nav_bar %}
        </div>
        {% block content %}
        {% endblock content %}
        <footer class="footer fixed-bottom bg-light">
            <div class="container text-center">
                <span class="text-muted">© 2024 Club Paddle. Todos los derechos reservados.</span>
            </div>
        </footer>
        {% block footer %}
        {% endblock footer %}
    </body>
    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock scripts %}
</html>
