{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ abm }}</title>
        <link rel="stylesheet" href="{% static "canchas/style.css" %}">
        <script src="{% static "canchas/nueva_editar.js" %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
    </head>
    <body>
        <h2 class="container pt-2">{{ abm }}</h2>
        {% if messages %}
            <ul class="container mb-3 mt-3 alert alert-success">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="container mb-3 mt-3">
                {% for field in form %}
                    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    <br>
                {% endfor %}
            </div>
            <div class="container mb-3 mt-3">
                {% for key_dia, val_dict in dias.items %}
                    <label for="{{ key_dia }}">{{ key_dia }}</label>
                    <input type="checkbox"
                           id="{{ key_dia }}"
                           name="{{ key_dia }}"
                           onclick="mostrar_input_hora(this.id, '{{ val_dict.hora }}')"
                           {% if val_dict.obj %}checked{% endif %} />
                    <span id="{{ val_dict.hora }}"
                          {% if not val_dict.obj %}style="display: none"{% endif %}>
                        <label for="{{ val_dict.hora }}_desde">Desde:</label>
                        <input type="time"
                               id="{{ val_dict.hora }}_desde"
                               name="{{ val_dict.hora }}_desde"
                               {% if val_dict.obj %}value="{{ val_dict.obj.hora_desde }}"{% endif %} />
                        <label for="{{ val_dict.hora }}_hasta">Hasta:</label>
                        <input type="time"
                               id="{{ val_dict.hora }}_hasta"
                               name="{{ val_dict.hora }}_hasta"
                               {% if val_dict.obj %}value="{{ val_dict.obj.hora_hasta }}"{% endif %} />
                    </span>
                    <br>
                    <br>
                {% endfor %}
                <a href="{% url "Canchas" %}" class="btn btn-outline-secondary">Volver</a>
                <input type="submit" value="{{ boton_submit }}" class="btn btn-primary">
            </div>
        </form>
    </body>
</html>
