{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>ABM Clases</title>
{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "clases/style.css" %}">
{% endblock styles %}
{% block content %}
    <div class="container pt-2">
        <h2>Clases</h2>
        {% include "mensajes.html" %}
        <div class="container p-2 posicionar">
            <a href="{% url "NuevaClase" %}" class="btn btn-primary">Nueva Clase</a>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-bordered">
                <thead class="table-warning">
                    <tr>
                        <th>Codigo</th>
                        <th>Cupo</th>
                        <th>Descripcion</th>
                        <th>Profesor</th>
                        <th>Cancha</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                {% for c in clases %}
                    <tr>
                        <td>{{ c.clase_id }}</td>
                        <td>{{ c.cupo }}</td>
                        <td>{{ c.descripcion }}</td>
                        <td>{{ c.profesor.nombre_apellido }}</td>
                        <td>{{ c.cancha.numero }}</td>
                        <td>{{ c.mostrar_activo }}</td>
                        <td>
                            <a href="{% url "EditarClase" clase_id=c.pk %}" class="btn btn-primary">Editar</a>
                        </td>
                        {% if c.activo %}
                            <td>
                                <button type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ModalEstadoClase"
                                        clubpad-clase-id="{{ c.pk }}"
                                        clubpad-boton-estado-clase="desactivar"
                                        class="btn btn-danger">Desactivar</button>
                            </td>
                        {% else %}
                            <td>
                                <button type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ModalEstadoClase"
                                        clubpad-clase-id="{{ c.pk }}"
                                        clubpad-boton-estado-clase="activar"
                                        class="btn btn-success">Activar</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url "menu_principal" %}"
               class="btn btn-outline-secondary"
               style="margin-bottom: 30px">Volver</a>
            <!-- The Modal -->
            <div class="modal fade" id="ModalEstadoClase">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button name="confirmar"
                                    id="boton_confirmar"
                                    type="submit"
                                    value="clase_id"
                                    class=""
                                    data-bs-dismiss="modal"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'clases/abm.js' %}"></script>
{% endblock scripts %}
