{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Nueva Clase</title>
{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "clases/style.css" %}">
{% endblock styles %}
{% block content %}
    <h2 class="container pt-2">Nueva Clase</h2>
    <div class="container pt-2">{% include "mensajes.html" %}</div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container mb-3 mt-3">
            {% for field in form %}
                <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                <br>
            {% endfor %}
        </div>
        <div class="container mb-3 mt-3">
            {% for d in dias %}
                <label for="{{ d.dia }}">{{ d.dia }}</label>
                <input type="checkbox"
                       id="{{ d.dia }}"
                       name="{{ d.dia }}"
                       onclick="mostrar_input_hora(this.id, '{{ d.hora }}')">
                <span id="{{ d.hora }}" style="display: none">
                    <label for="{{ d.hora }}_desde">Desde:</label>
                    <input type="time" id="{{ d.hora }}_desde" name="{{ d.hora }}_desde">
                    {% comment "" %}
                    <label for="{{ d.hora }}_hasta">Hasta:</label>
                    <input type="time" id="{{ d.hora }}_hasta" name="{{ d.hora }}_hasta">
                    {% endcomment %}
                </span>
                <br>
                <br>
            {% endfor %}
            <a href="{% url "Clases" %}"
               class="btn btn-outline-secondary"
               style="margin-bottom: 30px">Volver</a>
            <input type="submit"
                   value="Cargar"
                   class="btn btn-primary"
                   style="margin-bottom: 30px">
        </div>
    </form>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'clases/nueva_editar.js' %}"></script>
{% endblock scripts %}
